body {
  padding-top: 50px;
}
#main {
  padding: 40px 15px;
}
#main .flash {
  text-align: left;
}
#video {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
#player {
  border: 1px solid black;
}

/* Stlyes used to display notifcations */
.notification {
  position: fixed;
  padding: 60px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.inner-notification {
  margin: 0 auto;
}

/* Comment styles */
.glyphicon.glyphicon-arrow-up, .glyphicon.glyphicon-arrow-down {
    color: #b4b0b9;
}

.glyphicon.glyphicon-arrow-up:hover, .glyphicon.glyphicon-arrow-down:hover {
    color: black;
}

.comment-voting-container {
    padding: 0;
    width: 20px;
}

#comments-section form {
    display: inline-block;
    width: 100%;
}
