body {
  padding-top: 50px;
}
#main {
  padding: 40px 15px;
}
#main .flash {
  text-align: left;
}
#video {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
#player {
  border: 1px solid black;
}

/* Stlyes used to display notifcations */
.notification {
  position: fixed;
  padding: 60px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.inner-notification {
  margin: 0 auto;
}