igning and Maintaining Software</h1>
<p class="lead">This module teaches the theory and practice of designing maintainable software and of working with legacy systems.</p>

<h3>Overview</h3>
<p>DAMS is split into three phases:</p>
<ol>
  <li><a href="/phases/fundamentals">Fundamentals</a> - introduces the programming language, tools and techniques that we'll use to design habitable software.</li>
  <li><a href="/phases/habitable_programs">Habitable Programs</a> - provides the core of the module by investigating 7 habitablity factors, including how to measure them and how to improve a system to get them.</li>
  <li><a href="/phases/habitable_systems">Habitable Systems</a> - points towards advanced (bonus) material which covers emerging trends in desigining maintainable software.</li>
</ol>

<h3>Pacing</h3>
<p>You are free to work through the DAMS material at a pace which is best for you and your teammates. You should regularly discuss your plan and progression through the module with your teammates -- not everybody will want or be able to work at the same pace.</p>

<p>If in doubt about how you are progressing, refer to the following rough guide which indicates the lectures and practicals that should be in progress for a typical student:</p>

<dl class="dl-horizontal">
  <dt>Aut/2</dt> <dd><a href="/phases/fundamentals">Fundamentals</a> - Ruby</dd>
  <dt>Aut/3</dt> <dd><a href="/phases/fundamentals">Fundamentals</a> - Ruby</dd>
  <dt>Aut/4</dt> <dd><a href="/phases/fundamentals">Fundamentals</a> - Approach</dd>
  <dt>Aut/5</dt> <dd><a href="/phases/fundamentals">Fundamentals</a> - Tools</dd>
  <dt>Aut/6</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - Leaner</dd>
  <dt>Aut/7</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - Less Complex</dd>
  <dt>Aut/8</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - Avoiding Duplication</dd>
  <dt>Aut/9</dt> <dd>Formative Assessment</dd>
  <dt>Aut/10</dt> <dd>Formative Assessment</dd>
</dl>


<dl class="dl-horizontal">
  <dt>Spr/2</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - Loose Coupling</dd>
  <dt>Spr/3</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - More Cohesive</dd>
  <dt>Spr/4</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - Clarity</dd>
  <dt>Spr/5</dt> <dd><a href="/phases/habitable_programs">Habitable Programs</a> - Extensibility</dd>
  <dt>Spr/6</dt> <dd><a href="/phases/habitable_systems">Habitable Systems</a></dd>
  <dt>Spr/7</dt> <dd><a href="/phases/habitable_systems">Habitable Systems</a></dd>
  <dt>Spr/8</dt> <dd>Assessment</dd>
  <dt>Spr/9</dt> <dd>Assessment</dd>
  <dt>Spr/10</dt> <dd>Assessment</dd>
</dl>

<h3>Other resources</h3>
<p style="padding-bottom: 2em;">The <a href="https://www-module.cs.york.ac.uk/dams.html">module website</a> contains prepatory material, the slides for the live lecture, and discusses the assessment.</p>

