<h1 data-flippd-phase="<%= @phase["id"]%>"><%= @quiz["title"] %></h1>

<form>
  <% @quiz["questions"].each do |question| %>
    <div class="form-group">
      <p><%= question["question"] %></p>

      <% question["answers"].each do |answer| %>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1">
            Option 1
          </label>
        </div>
      <% end %>

    </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
